*{
    margin:0%;
    padding:0%;
}

body{
    background-image: url("../imagenes/fondos/fondo1.webp");
    width: 100%;
    height: 100%;
}
/* NAVEGADOR */
.nav{
    background: aliceblue;
    font-size: larger;
    font-family: monospace;
    display: flex;
    justify-content: center;
}
.nav li{
    border-right: #99daf8 solid;
}
.nav li:hover{
    background: #99daf8 ;

}
.nav a:hover{
    color: rgb(46, 0, 83);
}



/* FORMULARIOS GENERAL*/
.formulario{
    background: rgba(240, 255, 255, 0.822);
    width: 50%;
    margin: auto;
    font-size: x-large;
    font-family: cursive;
}
    /* INICIAR SESION */
#sesion_inicio{
    display: flex;
    flex-direction: column;
}
#sesion_inicio form{
    padding: 4%;
    border: #f78d8d solid;

}
#sesion_inicio p{
    margin-top: 5%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #baffff;

}

/* MI PERFIL */
#datos_user{
    background-color: #f8dfdf;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
#datos_user img{
    width:5%;
}

.contenedor{
    margin-top: 5%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.boton_crear_receta{
    background-color: green;
    width: 250px;
    height: 200px;
    margin: 20px 15px;
}

.tarjeta_receta{
    background-color: antiquewhite;
    width: 400px;
    height: 350px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta_receta img{
    height: 170px;
    width:370px;
}
.tarjeta_receta a{
    background-color: rgb(118, 111, 102);
    font-size: medium;
    padding: 10px 15px;
    display: block;
    text-align: center;
}

.cuerpo_t{
    display: contents;
}

.data_t{
    width: 400px;
    display: flex;
    justify-content: space-around;
}
