html{
    min-height: 100%;
    position: relative;
}

*{
    margin:0%;
    padding:0%;
}

body{
    background-image: url("../imagenes/fondos/fondo1.webp");
    width: 100%;
    height: 100%;
    margin: 0;
}
#pagina_texto{
    background-image: url("../imagenes/fondos/fondo_texto.jpg");
    width: 100%;
    height: 100%;
}
/* LOGO DE LA PAGINA */
#logoEnlace{
    display:flex;
    align-items: center;
    flex-direction: column;
}
/* NAVEGADOR */
.nav{
    background: aliceblue;
    font-size: larger;
    font-family: monospace;
    display: flex;
    justify-content: center;
}
.nav li{
    border-right: #99daf8 solid;
}
.nav li:hover{
    background: #99daf8 ;

}
.nav a:hover{
    color: rgb(46, 0, 83);
}

main{
    
    margin-bottom: 30%;

}

/* PAGINAS DE TEXTO */
#texto{
    background-color: aliceblue;
    margin: 15%;
    padding: 4%;
    margin-bottom: 25%;
}
#texto p{
    margin-bottom: 4%;
    font-size: larger;
}

/* FORMULARIOS GENERAL*/
.formulario{
    background: rgba(240, 255, 255, 0.822);
    width: 50%;
    font-size: x-large;
    font-family: cursive;
    margin:auto;
    margin-top: 3%;
}
    /* INICIAR SESION */
#sesion_inicio{
    display: flex;
    flex-direction: column;
}
#sesion_inicio form{
    padding: 4%;
    border: #f78d8d solid;

}
#sesion_inicio p{
    margin-top: 5%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #baffff;

}
#sesion_inicio h6{
    color:red;
    font-family: 'Courier New', Courier, monospace;
}
    /* REPORTE */
#reporte{
    padding:2%;
    background-color: #32ff57;
    margin-top: 5%;

    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#reporte textarea{
    height: 167px;
}

#editar_receta{
    display: flex;
    flex-direction: column;
    padding: 4%;
    border: #32ff57 dotted 1px;
    margin-top: 3%;
    width: 60%;
}
#editar_receta textarea{
    height: 260px;
}


/* MI PERFIL */
#datos_user{
    background-color: #ffffffac;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 7px;
}
#datos_user img{
    width:6%;
    border-radius: 50%;
}

.contenedor{
    margin-top: 5%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}



#crear_receta{
    text-decoration: none;
    font-family: cursive;
    font-size: x-large;
    width: 250px;
    height: 200px;
    margin: 20px 15px;
}
.boton_crear_receta p{
    color:white
}

.boton_crear_receta{
    background-color: green;
    width: 250px;
    height: 200px;
    margin: 20px 15px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}




.tarjeta_receta{
    border-radius: 5%;
    background-color: antiquewhite;
    width: 400px;
    height: 380px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 1s;
}



/*CAMBIOS SEGUN EL TIPO DE COMIDA */

.carne{
    background-color: #f78d8d;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px black;
    width: 400px;
    height: 380px;
    transition-duration: 1s;
}
.sopa{
    background-color: #fea33b;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px black;
    width: 400px;
    height: 380px;
    transition-duration: 1s;
}
.pescado{
    background-color: #4ae9fe;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px black;
    width: 400px;
    height: 380px;
    transition-duration: 1s;
}
.verdura{
    background-color: #32ff57;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px black;
    width: 400px;
    height: 380px;
    transition-duration: 1s;
}
.arroz{
    background-color: #ffd5d5;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px black;
    width: 400px;
    height: 380px;
    transition-duration: 1s;
}
.pasta{
    background-color: #d1ff3b;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px black;
    width: 400px;
    height: 380px;
    transition-duration: 1s;
}

.tarjeta_receta img{
    height: 170px;
    width:370px;
}
.tarjeta_receta a{
    border-radius: 35%0;
    background-color: rgb(118, 111, 102);
    font-size: medium;
    padding: 10px 15px;
    display: block;
    text-align: center;
    color: rgb(252, 228, 228);
    text-decoration: none;
    font-family: cursive;
}
.tarjeta_receta a{
    margin-bottom:20px
}

.tarjeta_receta a:hover{
    background-color: rgb(37, 34, 31);
}


.cuerpo_t{
    display: contents;
}

.data_t{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

/* PAGINA DE RECETAS */
.buscar{
    display: flex;
    margin-top:3%;
}
.buscar form{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.buscar div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buscar select{
    margin-right:15%;
    background-color: black;
    color: aliceblue;
    font-size: large;
}

.pagination{
    display: flex;
    justify-content: center;
}
/* VER RECETA */

#ver_receta{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5% 15%;
    background-image: url("../imagenes/fondos/fondo_receta.webp");
    font-size: xx-large;
    padding-top: 1%;
    font-family: monospace;
    padding: 1.5%;
    border-radius: 5%;
}


#imagen_receta{
    width:400px;
}
.emoji{
    width: 30px;
}

/* IMAGEN RESPONSIVE */

#ver_receta div{
    width:100%;
    display: flex;
    justify-content: space-around;
}

/* LISTA INGREDIENTEs */
#ver_receta ul{
    margin: 3%;
    padding: 40px;
    transition-duration: 1s;
}
.ingrediente{
    transform: translateY(-15px);
    /* box-shadow: 0 12px 16px rgb(38, 28, 28); */
    transition-duration: 1s;
    font-weight: bold;
}

/* LISTA DE PASOS */
#ver_receta ol{
    list-style: upper-roman;
    margin: 5%;
    padding: 40px;
    transition-duration: 1s;
}

.pasos{
    transform: translateY(-15px);
    /* box-shadow: 0 12px 16px rgb(38, 28, 28); */
    transition-duration: 1s;
    font-weight: bolder;
}

/* MENU DE OPCIONES */
.opciones{
    margin-bottom: 4%;
}

#meGusta{
    background: none;
    border:none
}

/* MENU TABLA */



/* TABLA DE REPORTES */
#tabla_reporte{
    width: 85%;
    margin:5%;
}


/* RANKING */
#ranking{
    width: 75%;
    margin-left: 10%;
    margin-top: 3%;
    font-size: larger;
    font-family: monospace;
}
#ranking tr{
    border-top: grey solid 1px;
    background-color: #baffff;
    text-align: center;
}
.primero:hover{
    color:gold;
}

.segundo:hover{
    color:silver;
}

.tercero:hover{
    color:rgb(200, 197, 52);
}

/* PIE DE PAGINA */
#footer_index{
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

#pie_pagina{
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}


/* FOOTER LOGOS */
.red{
    width: 30px;
}

.social{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

/* INDEX */
.recetas_index{
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: aliceblue;
    padding: 15px;

}

.recetas_index h3{
    display: flex;
    justify-content: center;
}

#informacion{
    margin: 6%;
    padding: 19px;
    background-color: aliceblue;
    box-shadow: 0 7px 16px black;
}

/* COOKIES */


.cookie-container{
    background-image: url("../imagenes/otro/fondo_cookies.jpg");
    border-radius: 20px;
    box-shadow: 0 7px 16px black;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 15px;
}
.cookie-content{
    background-color: aliceblue;
    opacity: 90%;
    font-size: larger;
}

.activo{
    visibility: hidden;
}
#error{
    background-color: aliceblue;
    margin: auto;
    margin-top: 10%;
    width: 400px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: red 5px dotted;
    font-size: x-large;
    font-family: cursive;
    border-radius: 20px;
}

/* MEDIA PARA PANTALLAS PEQUEÑAS */

/* MEDIA CON NAVEGADOR E INTRO */
@media screen and (max-width: 700px){
    #pie_pagina{
        font-size: x-large;
    }
    #footer_index{
        font-size: x-large;
    }
}
/* MEDIA FOOTER */
@media screen and (max-width: 700px){
    .nav{
        font-size: larger;
    }
}

/* MEDIA CAJA CON RECETAS */
@media screen and (max-width: 700px){
    main{
        margin-bottom: 50%;
    }
    #texto{
        margin-bottom: 50%;
    }
}

/* MEDIA  LA RECETA*/
@media screen and (max-width: 700px){
    #ver_receta{
        margin-bottom: 80%;
        margin-left: 1%;
        margin-right: 1%;
    }
    #ver_receta a{
        font-size: larger;
    }
    #imagen_receta{
        width: 300px;
    }
}
/* MEDIA TABLA RANKING */
@media screen and (max-width: 700px){
    #ranking{
        height: 200px;
        font-size: xx-large;
    }
}

/* MEDIA FORMULARIO SESION */
@media screen and (max-width: 700px){
    .formulario{
        width: 90%;
    font-size: xx-large;
    }
    .formulario input{
        font-size: larger;
    }
    .formulario button{
        font-size: larger;
    }
    .formulario a{
        font-size: larger;
    }
    .formulario textarea{
        height: 400px;
        font-size: larger;
    }
    #crear_receta_form #imagen{
        width: -webkit-fill-available;
    }
    #editar_receta{
        width: 90%;
    }
    #editar_receta #imagen{
        width: -webkit-fill-available;
    }

}

